{% extends 'base_gallery/base_gallery.html' %}
{% load static %}

{% block title %}Gallery::Add picture{% endblock title %}



{% block css %}
<link rel="stylesheet" href="{% static 'css/gallery_add.css' %}">
{% endblock css %}


{% block content %}

<section>


    {% if messages %}
    {% for message in messages %}
    <div class="message">
        {{ message }}
        <span class="closebtn"
            onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {% endfor %}
    {% endif %}
    
    <form class="add-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}

        {{form}}
        <input type="submit" value="Add">
    </form>
</section>
{% endblock content %}