{% extends 'base_gallery/base_gallery.html' %}
{% load static %}

{% block title %}Gallery::{{ picture.name }}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallery_detail.css' %}">
{% endblock css %}


{% block content %}

<section>
    <div class="detail">

        <div class="card">
            <h1 class="title-card">{{ picture.name }}</h1>
            <img src="{{ picture.image.url }}" alt="" id="i">
            <div class="info">
                <div class="desc">{{ picture.description|safe }}</div>

            </div>

            <div class="foot">
                <div class="tags">
                    {% for tag in picture.tags.all %}
                    <a class="tag" href="{% url 'gallery:by_tags' tag.pk %}">{{ tag.name}}</a>
                    {% endfor %}
                </div>
                <div class="d-v">

                    <a href="{{ picture.image.url }}" class="download" name="d" download>
                        Download ({{ picture.image.size|filesizeformat}})
                    </a>

                    <span class="views"> views: {{ picture.views }}</span>
                </div>

            </div>
        </div>

    </div>

    <h2 class="recent">Recently</h2>
    <div class="recently">
        {% for recent in recently %}
        <a href="{% url 'gallery:gallery_detail' recent.pk %}">
            <figure class="recent-card">
                <img src="{{ recent.image.url }}" alt="" width="300px">

                <figcaption>
                    {{ recent.name }}
                </figcaption>
            </figure>
        </a>

        {% endfor %}


    </div>

    <h2 class="recent">Most popular</h2>
    <div class="recently">

        {% for popular in most_viewed %}
        <a href="{% url 'gallery:gallery_detail' popular.pk %}">

            <figure class="recent-card">
                <img src="{{ popular.image.url }}" alt="" width="300px">
                <figcaption>
                    {{ popular.name }}
                </figcaption>
            </figure>
        </a>

        {% endfor %}

    </div>
</section>

{% endblock content %}