body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #fff, #FEBDFE);

}

.wrapper {
    min-height: 100vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 300px 1fr;
    column-gap: 1%;
    padding: 2% 0 2% 0;
    background-color: transparent;

}

/* Header ------------------------------------------------------------------ */
header {
    border-radius: 50px;
    border: 2px inset #fff;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("{% static 'image/sparkle.png' %}"),
    url("{% static 'image/sparkle.png' %}");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left, right;
    font-size: 150%;
    text-align: center;
    color: #660066;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Navbar ------------------------------------------------------------------------ */

nav {
    color: #660066;
    border-radius: 50px;
    border: 2px inset #fff;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 130%;
    text-align: center;
}


nav ul {
    list-style-type: none;
    display: block;
    padding: 0;

}

nav ul a {
    border-radius: 20px;
    text-decoration: none;
    display: block;
    border: 1px outset #fff;
    padding: 5% 0;
    color: #660066;
}

nav ul a:hover {
    border: 1px inset #fff;

}


form {
    display: flex;
    flex-direction: column;
    margin: 15% 5% 5% 5%;
    color: #660066;
}

form input {
    margin-top: 5%;
    font-size: 110%;
    padding: 5%;
    color: #660066;
    outline: none;
    border: 1px outset #fff;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}

form input:focus {
    border: 1px inset #fff;
}


/* section content ---------------------------------------------------------------------- */
section {
    border: 2px inset #fff;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 50px;
}

section h2 {
    border: 1px outset #fff;
    color: #660066;
    padding: 3%;
    border-radius: 3em;
    margin: 2%;
    text-align: center;

}

/* Footer ------------------------------------------------------------------------ */
footer {
    border-radius: 50px;
    border: 2px inset #fff;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    color: #660066;
    font-size: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
}



/* Posts carts ------------------------------------------------------------------------- */
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.post {
    border-radius: 40px;
    border: 1px outset;
    padding: 2%;
    margin: 3%;
    font-size: 120%;
}

.post img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px inset #fff;
}


.post .aimg {
    border-radius: 40px;
    text-decoration: none;
    outline: none;
    display: block;
    border: 1px outset #fff;
    padding: 10px;
    background: linear-gradient(to bottom, #fff, #FEBDFE);


}

.post .aimg:hover {
    border: 1px inset #fff;
}


.post .readmore {
    border-radius: 15px;
    margin: 3%;
    display: block;
    border: 1px outset #fff;
    color: #660066;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(to bottom, #fff, #FEBDFE);
}

.post a:hover {
    border: 1px inset #fff;
}



/* Media --------------------------------------------------------- */

@media (max-width: 1332px) {
    .wrapper {
        min-height: 100vh;
        width: 90vw;

    }
}

@media (min-width: 999px) {

    /* menu button label, input */
    .m {
        display: none;
    }

    .closenav {
        display: none;
    }
}

@media (max-width: 998px) {
    .menu {
        transform: translateX(-120%);
        transition: .5s;
        width: 70%;
        z-index: 99;
        background: linear-gradient(to bottom, #fff, #FEBDFE);
        box-shadow: 5px 5px 10px #660066;
        padding-top: 1.5em;
    }

    .menu:target {
        transform: translateX(0);

    }

    .closenav {
        text-decoration: none;
        font-size: 1.2em;
        border: 1px outset #fff;
        background-color: #fff;
        border-radius: .7em;
        padding: .5em 1em;
        color: #660066;

    }

    .m {
        position: absolute;
        text-decoration: none;
        color: #660066;
        right: 1em;
        top: 3.5em;
        border: 1px outset #fff;
        background-color: #fff;
        border-radius: 5em;
        padding: 1em;
        box-shadow: 3px 3px 3px #660066;
        z-index: 999;
        font-size: 1.1em;
    }

    header {
        font-size: 1em;
    }

    .wrapper {
        min-height: 100vh;
        width: 90vw;
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 1fr;
    }

    section {
        grid-column-start: 1;
        grid-column-end: 4;
    }




}

@media (max-width:576px) {
    .wrapper {
        min-height: 100vh;
        width: 95vw;
        grid-template-rows: 15vh auto 15vh;
        grid-template-columns: 1fr;
        margin: auto;
    }

    .posts {
        grid-template-columns: 1fr 1fr;
    }

    section h2 {
        margin: .4em;
    }



}

@media (max-width:576px) {
    .menu {
        width: 100%;
    }
}


@media (max-width:480px) {
    .posts {
        grid-template-columns: 1fr;
    }
}