{% extends 'layout/basic.html'%}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}
<!-- Carousel --------------------------------------- -->
<div class="container-fluid">
    <div class="row justify-content-center">

        {% if carousel %}
        <div id="carouselExampleCaptions" class="carousel slide col-sm-8" data-bs-ride="false">
            <div class="carousel-inner">
                {% for c in carousel %}

                <div class="carousel-item active">
                    <img src="{{ c.image.url }}" class="d-block w-100" alt="...">
                    
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% else %}
        <h3 class="text-center text-secondary">Empty carousel</h3>
        {% endif %}
    </div>

    {% if about %}
    <div class="row mt-3 mb-5">
        <div class="card p-3 offset-sm-2 col-sm-8">
            <img src="{{ about.banner.url }}" alt="" class="card-img">
            <div class="card-img-overlay p-5 text-light ">
                <h3 class="card-title ">{{ about.name }}</h3>
                <a href="{% url 'shop:about' %}" class="btn btn-primary btn-lg">Read about</a>
            </div>
        </div>
    </div>
    {% else %}
    <h3 class="text-center text-secondary">Empty about</h3>

    {% endif %}
</div>
<!-- end carousel --------------------------------------- -->

<!-- main section --------------------------------------- -->

<section class="container pb-5">
    <div class="row mt-3">

        <h3 class="">Latest <a href="{% url 'shop:products' %}">See all</a></h3>
        {% if products %}
        {% for product in products %}
        <div class="col-lg-2 col-md-4 col-sm-6 mt-3">
            <div class="card">
                <img src="{{ product.thumbnail.url }}" alt="" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ product.name }}
                    </h5>
                    <aside>{{ product.price }} $</aside>
                    <a href="{{ product.get_absolute_url }}" class="stretched-link">Watch</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="text-center text-secondary">Empty</h3>
        {% endif %}
    </div>
    <div class="row mt-5">
        <h3 class="">Most popular <a href="{% url 'shop:viewed_product' %}">See all</a></h3>
        {% if products %}

        {% for p_viewed in products_viewed %}
        <div class="col-lg-3 col-md-6 mt-3">
            <div class="card">
                <img src="{{ p_viewed.thumbnail.url }}" alt="" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ p_viewed.name }}
                    </h5>
                    <aside>{{ p_viewed.price }} $</aside>
                    <a href="{{ p_viewed.get_absolute_url }}" class="stretched-link">Watch
                        <i class="bi bi-eye"></i> {{ p_viewed.views }}

                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3 class="text-center text-secondary">Empty</h3>
        {% endif %}
    </div>

    <div class="row mt-5">
        <h3 class="">Popular Category <a href="{% url 'shop:viewed_category' %}">See all</a>
        </h3>
        {% if products %}
        
        {% for cat_viewed in cats_viewed %}
        <div class="col-lg-2 col-md-4 col-sm-6 mt-3">
            <a href="{% url 'shop:by_category' cat_viewed.pk %}"><img
                    src="{{ cat_viewed.image.url }}" alt=""
                    class="img-thumbnail rounded-circle"></a>
            <h5 class="text-center"><a href="">{{ cat_viewed.name }}</a></h5>
        </div>
        {% endfor %}

        {% else %}
        <h3 class="text-center text-secondary">Empty</h3>
        {% endif %}
    </div>
</section>
<!-- end main section --------------------------------------- -->

{% endblock content %}