{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account::Activation done</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon-32x32.png' %}" type="image/x-icon">

</head>

<body>

    <div class="wrapper">
        <header>
            <h1>Activation done</h1>
        </header>

        <section>
            <div class="registration logout">
                <h2>Activation</h2>
                <p>User has activated successfully</p>
                <a class="submit" href="{% url 'registration:login' %}">Login</a>

            </div>
        </section>


    </div>

</body>

</html>